grant {
      permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
      permission java.util.PropertyPermission "user.dir", "read";
};